@import "./varibles";
@import "./global";
@import "./normolize";
@import "./fonts";
@import "./blocks/block";





.header {
    width: 100%;
    height: 90px;
    background: url(../images/Header__IMG.png);


    .header__wrapper {
        width: 100%;
        height: 90px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header__right {
        display: flex;
        gap: 40px;
        list-style: none;
        text-transform: uppercase;
        color: rgb(51, 51, 51);
        font-family: Roboto;
        font-size: 12px;
        font-weight: 700;
        line-height: 14px;
        letter-spacing: 1px;
    }

    .header_pages {
        list-style: none;
        text-transform: uppercase;
        color: rgb(51, 51, 51);
        font-family: Roboto;
        font-size: 12px;
        font-weight: 700;
        line-height: 14px;
        letter-spacing: 1px;
    }
}

// hero 
.hero {
    width: 100%;
    background: url(../images/Header__IMG.png);

    .hero__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .hero__left {
        display: flex;
        flex-direction: column;

    }

    .hero__title {
        width: 447px;
        color: rgb(0, 0, 0);
        font-family: Roboto;
        font-size: 64px;
        font-weight: 700;
        line-height: 75px;

    }

    .hero__suptitle {
        width: 464px;
        color: rgb(0, 0, 0);
        font-family: Roboto;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
    }

    .hero__btn {
        width: 193px;
        height: 51px;
        margin-top: 34px;
        border: none;
        border-radius: 100px;
        background: rgb(10, 119, 95);
        color: rgb(255, 255, 255);
        font-family: Roboto;
        font-size: 16px;
        font-weight: 500;
        line-height: 19px;
        letter-spacing: 1px;
    }

    .hero__right {
        position: relative;

    }

    .alfred {
        position: absolute;
        left: 60px;
        top: 10px;
    }

    .abh {
        color: rgb(0, 0, 0);
        font-family: Roboto;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        width: 372px;
    }

}

.collection {
    width: 100%;
    background: url(../images/Collection__IMG.png);
    text-align: center;
    position: relative;
    padding-bottom: 60px;

    .cst {
        width: 626px;
    }

    .collection__title {
        padding-top: 50px;
        color: rgb(0, 0, 0);
        font-family: Roboto;
        font-size: 50px;
        font-weight: 700;
        line-height: 59px;
    }

    .collection__wrapper {
        margin-top: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;

    }

    .right__title {
        padding-top: 121px;
        color: rgb(51, 51, 51);
        font-family: Roboto;
        font-size: 48px;
        font-weight: 500;
        line-height: 56px;
    }

    .right__suptitle {
        padding-top: 10px;
        color: rgb(51, 51, 51);
        font-family: Roboto;
        font-size: 22px;
        font-weight: 400;
        line-height: 34px;
    }


    .collection__right {
        text-align: start;

    }

    .collection__wrappers {
        display: flex;
        justify-content: end;
        gap: 117px;
    }

    .collection__left__two {
        margin-right: 100px;
    }

    .collection__wrapper__two {
        display: flex;
        gap: 117px;
    }
}

.why {
    text-align: center;
    background: url(../images/Why__IMG.png);

    .whyy_wrapper {
        display: flex;
    }

    .why_text_wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: left;
    }

    .wt {
        width: 397px;
        color: rgb(255, 255, 255);
        font-family: Roboto;
        font-size: 50px;
        font-weight: 700;
        line-height: 59px;
    }

    .wst {
        width: 555px;
        color: rgb(255, 255, 255);
        font-family: Roboto;
        font-size: 18px;
        font-weight: 400;
        line-height: 30px;
    }

    .why__title {
        padding-top: 50px;
        color: rgb(255, 255, 255);
        font-family: Roboto;
        font-size: 50px;
        font-weight: 700;
        line-height: 59px;
    }

    .why__suptitle {
        padding-top: 10px;
        color: rgb(255, 255, 255);
        font-family: Roboto;
        font-size: 16px;
        font-weight: 400;
        line-height: 28px;
    }

    .why__wrapper {
        position: relative;
        top: 80px;
        display: flex;
        justify-content: space-between;
    }
}

/* Why__two */

.wrapper {
    display: flex;
    gap: 93px;
    margin-top: 70px;


    .title {
        padding-top: 28px;
        color: rgb(51, 51, 51);
        font-family: Roboto;
        font-size: 30px;
        font-weight: 500;
        line-height: 35px;
    }

    .suptitle {
        padding-top: 10px;
        color: rgb(51, 51, 51);
        font-family: Roboto;
        font-size: 18px;
        font-weight: 400;
        line-height: 28px;
    }
}

// head 
.head {
    background: rgb(10, 119, 95);
    padding-bottom: 100px;


    .head_title {
        color: rgb(255, 255, 255);
        font-family: Roboto;
        font-size: 50px;
        font-weight: 700;
        line-height: 59px;
        text-align: center;
        padding-bottom: 80px;
        padding-top: 50px;
    }

    .head_wrapper {
        display: flex;
        gap: 20px;
    }

    .head_box {
        width: 433px;
        height: 396px;
        background: rgb(248, 248, 242);
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        padding-top: 140px;
        position: relative;
        padding-bottom: 40px;
        padding-left: 20px;
    }

    .head_box_2 {
        width: 433px;
        height: 396px;
        background: rgb(248, 248, 242);
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        padding-top: 187px;
        position: relative;
        padding-bottom: 40px;
        padding-left: 20px;
    }

    .head_box_3 {
        width: 433px;
        height: 396px;
        background: rgb(248, 248, 242);
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        padding-top: 187px;
        position: relative;
        padding-bottom: 40px;
        padding-left: 20px;
    }

    .head_img {
        position: absolute;
        top: 45px;
        left: 200px;
    }

    .head_box_title {
        width: 231px;
        color: rgb(51, 51, 51);
        font-family: Roboto;
        font-size: 40px;
        font-weight: 500;
        line-height: 47px;
        text-align: left;
    }

    .head_box_suptitle {

        color: rgb(51, 51, 51);
        font-family: Roboto;
        font-size: 18px;
        font-weight: 400;
        line-height: 28px;
        text-align: left;
    }
}

/* How */

.how {
    width: 100%;
    height: 826px;
    text-align: center;
    margin-top: 80px;
    background: url(../images/How__IMG.png);


    .how__title {
        padding-top: 50px;
        color: rgb(255, 255, 255);
        font-family: Roboto;
        font-size: 50px;
        font-weight: 700;
        line-height: 59px;
    }

    .style {
        margin-top: 80px;
        display: flex;
        align-items: center;
    }

    .square {
        width: 60px;
        height: 60px;
        box-sizing: border-box;
        border: 4px solid rgb(201, 155, 103);
        background: rgb(248, 248, 242);
    }

    .border {
        width: 393px;
        height: 0;
        border: 3px dashed rgb(201, 155, 103);
    }
    .end__btn {
        border-radius: 15px;
        border: none;
        background: rgb(201, 155, 103);
        width: 193px;
        height: 51px;
        color: rgb(255, 255, 255);
        font-family: Roboto;
        font-size: 16px;
        font-weight: 500;
        line-height: 19px;
        letter-spacing: 1px;
        text-align: center;
        margin-top: 60px;
        cursor: pointer;
    }
}

.num {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;


    .num__one {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 433px;
        height: auto;
        background: rgb(248, 248, 242);
        padding-bottom: 20px;

    }

    .number {
        text-align: end;
        padding-right: 20px;
        color: rgb(51, 51, 51);
        font-family: Roboto;
        font-size: 64px;
        font-weight: 400;
        line-height: 75px;
    }

    .num__title {
        padding-left: 15px;
        text-align: start;
        color: rgb(51, 51, 51);
        font-family: Roboto;
        font-size: 40px;
        font-weight: 500;
        line-height: 47px;
    }

    .num__suptitle { 
        padding-left: 15px;
        text-align: start;
        color: rgb(51, 51, 51);
        font-family: Roboto;
        font-size: 18px;
        font-weight: 400;
        line-height: 28px;
    }

    
}


/* End */

.end__coffe {
    width: 100%;
    height: 160px;
    background: url(../images/End__IMG.png);


    .end__wrapper {
        width: 100%;
        height: 160px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .end {
        display: flex;
        gap: 40px;
        text-transform: uppercase;
        list-style: none;
        color: rgb(51, 51, 51);
        font-family: Roboto;
        font-size: 16px;
        font-weight: 700;
        line-height: 19px;
        letter-spacing: 1px;
    }

    .end__icons {
        display: flex;
        gap: 30px;
    }
}